
<section class="features">
    <div class="container">
  <h2 class="features__title">
    Why choose Easybank?
  
  </h2>
  <p class="features__text text">
  We leverage Open Banking to turn your bank account intor your financial hub.Control your finances like never before. 
  </p>
  
  
  <div class="media">
    <img src="images/icon-online.svg" alt="currency image" class="media__image">
    <h3 class="media__title">Online Banking</h3>
    <p class="media__text">Our modern web and mobile applications allow you to keep track of your finances wherever you are in the world</p>
  </div>
  <div class="media">
    <img src="images/icon-online.svg" alt="currency image" class="media__image">
    <h3 class="media__title">Online Banking</h3>
    <p class="media__text">Our modern web and mobile applications allow you to keep track of your finances wherever you are in the world</p>
  </div>
  <div class="media">
    <img src="images/icon-online.svg" alt="currency image" class="media__image">
    <h3 class="media__title">Online Banking</h3>
    <p class="media__text">Our modern web and mobile applications allow you to keep track of your finances wherever you are in the world</p>
  </div>
  <div class="media">
    <img src="images/icon-online.svg" alt="currency image" class="media__image">
    <h3 class="media__title">Online Banking</h3>
    <p class="media__text">Our modern web and mobile applications allow you to keep track of your finances wherever you are in the world</p>
  </div>
  </div>
  
  </section>
        