<footer class="footer">
  <div class="grid__firstcolumn"><img src="images/logo.svg" alt="" class="footer__logo">
    <div class="foootr__icons">
      <svg class="icon icon__white">
        <use xlink:href="images/sprite.svg#icon-facebook"></use>
      </svg>
      <svg class="icon icon__white">
        <use xlink:href="images/sprite.svg#icon-youtube"></use>
      </svg>
      <svg class="icon icon__white">
        <use xlink:href="images/sprite.svg#icon-twitter"></use>
      </svg>
      <svg class="icon icon__white">
        <use xlink:href="images/sprite.svg#icon-pinterest"></use>
      </svg>
      <svg class="icon icon__white">
        <use xlink:href="images/sprite.svg#icon-instagram"></use>
      </svg>
    </div>
  </div>
  
  <div class="footer__links__container">
    <a href="" class="footer_link link__primary">Contact</a>
    <a href="" class="footer_link link__primary">About us</a>
    <a href="" class="footer_link link__primary">Blog</a>
  </div>
  <div class="footer__links__container">
    <a href="" class="footer_link link__primary">Career</a>

    <a href="" class="footer_link link__primary">Support</a>
    <a href="" class="footer_link link__primary">Privacy Policy</a>

  </div>
  <div class="grid__lastcolumn">
    <button class="btn__primary">Request Invite</button>
    <div class="copyright">&copyEasyBank.All rights reserved</div>
  </div>
  
</footer>