<div class="media">
    <img src="images/icon-online.svg" alt="currency image" class="media__image">
    <h3 class="media__title">Online Banking</h3>
    <p class="media__text">Our modern web and mobile applications allow you to keep track of your finances wherever you are in the world</p>
  </div>
  <div class="media">
    <img src="images/icon-online.svg" alt="currency image" class="media__image">
    <h3 class="media__title">Online Banking</h3>
    <p class="media__text">Our modern web and mobile applications allow you to keep track of your finances wherever you are in the world</p>
  </div>
  