<nav class="navbar">
  
    <img src="images/logo.svg" alt="" class="nav__logo">
      
  <ul class="list nav__list ">
    <li class="nav__item"><a href="#" class="link__primary nav__link">Home</a></li>
    <li class="nav__item"><a href="#" class="link__primary nav__link">About</a></li>
    <li class="nav__item"><a href="#" class="link__primary nav__link">Contact</a></li>
    <li class="nav__item"><a href="#" class="link__primary nav__link">Blog</a></li>
    <li class="nav__item"><a href="#" class="link__primary nav__link">Career</a></li>
  </ul>
  <div class="nav__hamburger">
    <span class="nav__bar"></span>
    <span class="nav__bar"></span>
    <span class="nav__bar"></span>
  </div>
  <button class="btn__primary nav__btn">Request Invite</button>
</nav>
